#network-msg {
  text-align: center;
  vertical-align: middle;
  margin-top: 90px;
  color: GRAY;
  font-size: 90px;
}

#dog-image {
  margin-top: 86px;
  margin-left: 33%;
  height: 500px;
}

.logo {
  width: 100px;
  margin-left: 10px;
  height: 80px;
}

.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.card > img {
  width: 100%;
}

img.card-img-top {
  border-radius: 20px;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}
.input-group {
  width: 30% !important;
  margin: 10px;
}

.form-control {
  width: 30% !important;
}

.normal-text {
  color: black;
  text-decoration: none;
}
.restro {
  margin-right: auto;
  margin-left: auto;
  width: 40rem !important;
  padding: 10px;
}

.restro.card {
  border-radius: 20px;
}

.card {
  border-radius: 20px !important;
}

.restroBanner.card {
  width: 100% !important;
  height: 245px !important;
  margin: 0px;
  background-color: black;
  color: white;
  border-radius: 0px !important;
}

.restroImage {
  width: auto !important;
}

.restroImage {
  height: 220px !important;
}
.carousels-list {
  /* background: black !important; */
  display: flex;
  overflow: scroll;
  /* margin:50px !important; */
}
.wrapper {
  transition: all 0.5s !important;
}
.wrapper:hover {
  transform: scale(1.1) !important	;
}

.small-text {
  font-size: 13px;
  color: #a19a9a;
}

.star {
  position: relative;

  display: inline-block;
  width: 0;
  height: 0;

  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1.2em;

  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid white;
  border-left: 0.3em solid transparent;

  /* Controlls the size of the stars. */
  font-size: 6px;
}
.star-bg-positive {
  background: green;
  color: white;
  font-size: 12px;
}

.star-bg-negative {
  background: #db7c38;
  color: white;
  font-size: 12px;
}

.restaurant-name {
  font-size: 17px !important;
}

.shimmer-card {
  width: 200px;
  height: 200px;
  background: lightgrey;
  margin: 35px;
}
